AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_REGION=us-east-1
S3_BUCKET_NAME=mlops-tp4-orlich-2026

MODEL_LOCAL_PATH=models/titanic_model.joblib
MODEL_S3_KEY=tp7/models/titanic_model.joblib
DATA_S3_KEY=tp7/data/titanic.csv
METRICS_S3_KEY=tp7/results/metrics.json